/** Media Queries **/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100%;
}

img {
  max-width: 100%;
}

i {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .site-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  padding-left: 1rem;
  background-color: #003f8c;
}

@media only screen and (min-width: 1024px) {
  .header .site-name {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20rem;
            flex: 0 0 20rem;
  }
}

.header .site-name h1 {
  color: #FFFFFF;
}

.header .site-name .desktop {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header .site-name .desktop {
    display: block;
  }
}

.header .site-name .mobile {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .header .site-name .mobile {
    display: none;
  }
}

.bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #005b9f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bar .left-content {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.bar .left-content .fa-arrow-right {
  display: none;
}

.bar .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar .right-content .box {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar .right-content .box:hover {
  background-color: #003f8c;
}

.bar .right-content .box a {
  color: #FFFFFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar .right-content .box a span {
  background-color: #009045;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 50%;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20rem;
          flex: 0 0 20rem;
  background-color: #373737;
  color: #FFFFFF;
  padding: 1rem 2rem 0 2rem;
}

.sidebar .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.sidebar .user img {
  max-width: 60px;
}

.sidebar .user span {
  font-weight: normal;
  display: block;
}

.sidebar .search {
  margin-top: 1rem;
}

.sidebar .search input[type="text"] {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
/*# sourceMappingURL=app.css.map */